

*.mat
*.asv
*.xlx
*.xlsx
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xml
*.pvt
*.log
*.xml
*.raw
*.jpg
*.tif
*.png
*.bmp
*.csv
*.mpj
*.txt
*.eps
*.dll
*.exe
*.ini
*.inf
*.msi
*.hlp
*.ami
*.Wav
*.adb
*.pro
*.sys
*.ctm
*.cab
*.cmd
*.tmp
*.edf